<launch>
  <!-- <!-\- logging database -\-> -->
  <!-- <include file="$(find jsk_robot_startup)/lifelog/mongodb.launch"> -->
  <!--   <arg name="use_daemon" value="true"/> -->
  <!--   <arg name="port" value="27017" /> -->
  <!--   <arg name="repl_set_mode" value="false" /> -->
  <!--   <arg name="replicate" default="true" /> -->
  <!-- </include> -->

  <arg name="map_frame" default="map" />
  <include file="$(find jsk_robot_startup)/lifelog/common_logger.launch">
    <arg name="ns" value="lifelog" />
    <arg name="database" value="jsk_robot_lifelog" />
    <arg name="collection" value="go_to_kitchen" />
    <!-- <arg name="save_rgb" value="true" /> -->
    <arg name="camera_ns" default="head_camera" />
    <arg name="rgb_ns" value="rgb" />
    <!-- <arg name="rgb_topic" default="image_rect_color" /> -->
    <arg name="rgb_topic" default="image_raw" />
    <!-- <arg name="rgb_suffix" default="/compressed"/> -->
    <arg name="rgb_suffix" default="/compressed"/> <!-- use video to scene -->
    <arg name="save_depth" value="false" />
    <!-- <arg name="save_tf" value="true" /> -->
    <!-- <arg name="save_joint_states" value="true" /> -->
    <arg name="save_tf" value="false" />
    <arg name="save_joint_states" value="false" />
    <arg name="save_base_trajectory" value="false" />
    <arg name="save_object_detection" value="false" />
    <arg name="save_action" value="true" />
    <arg name="save_smach" value="true" />
    <arg name="save_app" value="true" />
    <arg name="enable_monitor" value="false" />
    <arg name="log_rate" value="1.0" />
    <arg name="launch_manager" value="true" />
    <arg name="map_frame_id" value="$(arg map_frame)" />
    <arg name="approximate_sync" value="true"/>
    <arg name="base_frame_id" value="base_link" />
  </include>


</launch>
